*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f3f3f3;
}

.navbar ul {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section {
    background-color: #1F2937;
    padding: 16px 160px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar h2 {
    font-size: 24px;
}

.hero-content {
    display: flex;
    padding: 0px 20px;
    padding-bottom: 60px;
    margin-top: 90px;
    gap: 40px;
}

.hero-content div {
    flex: 1;
}

.content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 55px;
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
}

.content button {
    background-color: #3882F6;
    border: none;
    padding: 8px 28px;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-section .image-container {
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    color: #272727;
    background-color: #fff;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information p {
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 50px 100px;
    padding-bottom: 70px;
}

.information .cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-container div {
    width: 170px;
    height: 170px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.card-container p {
    max-width: 200px;
    color: #6D747D;
    font-weight: 600;
}

.cards .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 250px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quote-content h3 {
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}

.quote-content p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.cta-section{
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section .cta-content{
    background-color: #3882F6;
    border-radius: 8px;
    max-width: 900px;
    height: 130px;
    flex: 1 1 auto;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.cta-content button{
    border: none;
    color: white;
    border: 2px solid #fff;
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 8px;
    cursor: pointer;
}

.footer{
    background-color: #1F2937;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}